@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*::-webkit-scrollbar {
  width: 0.3rem;
  background-color: none; }

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: none;
  background-color: #ee5858; }

body {
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #F1FBFC, #E2FAE4);
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0;

    /* active this to disable blue highlights when tapping links on mobile devices
    -webkit-tap-highlight-color: transparent; */

}

body * {
    font-family: 'Rubik', sans-serif;
}



header {
    text-align: center;
}

.logo {
    width: 42vw;
    padding: 20px;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    filter:         drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#ham-menu {
    width: 6.5vw;
    position: absolute;
    right: 30px;
    top: 20px;
}

.menu-lateral {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: linear-gradient(to bottom, #3bbccc, pink, white);
    height: 100vh;
    width: 75vw;

    position: absolute;
    left: -100vw;
    transition: .25s;
}

.menu-lateral a, img{
    font-size: 5vw;
    align-self: center;
}

.menu-lateral img {
    max-width: 40vw;
}

.menu-lateral--ativo {
    left: 0;
    transition: .25s;
}

.vitrine {
    overflow-y: scroll;
}

.flex-container {
    display: flex;
    flex-shrink: 0;
    height: 56vh;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 80vw;
    background-color: #C9EAE8;
    border-radius: 37px;
    margin-bottom: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.MENINA {
    background-color: #fae2ff;
}

.card .product {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
    min-height: 20vh;
    align-items: center;
}

.card .product-image {
    width: 35.8vw;
    border-radius: 20px;
}

.card .product-description {
    display: flex;
    flex-direction: column;
    gap: 1.2vh;
}

.card .product-description p {
    padding-left: 3.8vw;
    font-size: 3.75vw;
    font-weight: 700;
}

.more-details{
    width: 7vw;
    float: right;
}

footer {
    height: 18.741vh;
    background-color: #C5DCA8;
    display: grid;
    flex-direction: column;
    grid-template-rows: 1fr auto auto auto 1fr;
    justify-items: center;
}

footer div {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 68vw;
    text-align: center;
    font-size: min(3.2vw, 22px);
    font-weight: 700;
}

footer div img {
    width: 22px;
}

#instagram img{
    width: 41px;
}