@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

*::-webkit-scrollbar {
  width: 0.3rem;
  background-color: none; }

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: none;
  background-color: #ee5858; }

body {
    background-image: linear-gradient(to bottom, #F1FBFC, #E2FAE4);
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    position: fixed;

    /* this height and min-width configuration is for mobile browsers. Without it, the tool bar of this browsers causes trouble*/
    height: 100%;
    min-width: 100vw;

    /* active this to disable blue highlights when tapping links on mobile devices
    -webkit-tap-highlight-color: transparent; */

}

body * {
    font-family: 'Rubik', sans-serif;
}


header {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.filter- {
    width: min(6.5vw, 50px);
    opacity: 0;
    align-self: end;

}

.filter-MENINA, .filter-MENINO {
    opacity: 0.6;
    margin-bottom: 20px;
}

.logo {
    width: 42vw;
    padding: 20px;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    filter:         drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#ham-menu {
    width: 6.5vw;
    align-self: start;
    margin-top: 20px;
}

.menu-lateral {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: linear-gradient(to bottom, #3bbccc, pink, white);
    height: 100%;
    width: min(75vw, 416px);

    position: absolute;
    left: -100vw;
    transition: .25s;
}

.menu-lateral a, img{
    font-size: min(5vw, 27.7px);
    align-self: center;
}

#developer-by {
    font-size: min(2vw, 15.7px);
    text-decoration: underline;
    align-self: center;
}

.menu-lateral img {
    width: min(40vw, 272px);
}

.menu-lateral--ativo {
    left: 0;
    position: fixed;
    transition: .25s;
}

.vitrine {
    overflow-y: scroll;
}

.flex-container {
    display: flex;
    flex-shrink: 0;
    height: 56vh;
    flex-direction: column;
    align-items: center;
}

.card {
    width: min(80vw, 363.72px);
    background-color: #C9EAE8;
    border-radius: 37px;
    margin-bottom: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.MENINA {
    background-color: #fae2ff;
}

.card .product {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
    min-height: min(20vh, 189px);
    align-items: center;
}

.card .product-image {
    width: min(35.8vw, 160px);
    border-radius: 20px;
}

.card .product-description {
    display: flex;
    flex-direction: column;
    gap: 1.2vh;
}

.card .product-description p {
    padding-left: min(3.8vw, 10px);
    font-size: min(3.75vw, 17px);
    font-weight: 700;
}

.more-details{
    width: min(7vw, 31.42px);
    float: right;
}

footer {
    height: min(15vh, 85px);
    background-color: #C5DCA8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: auto;

}

footer div {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 68vw;
    text-align: center;
    font-size: min(3.2vw, 12px);
    font-weight: 700;
}

footer div img {
    width: 18px;
    margin-right: 8px;
}

@media only screen and (min-width: 390px) {
    .logo {
        max-width: 150px;
    }

    #ham-menu img {
        max-width: 27.36px;
    }
}

@media only screen and (min-width: 700px) {
    .flex-container {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 8px;

    }
}