{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    {% block link-css %} {% endblock link-css %}
    <title>
        {% block title %}{% endblock title %}
    </title>
</head>

<body>
    <header>
        <img class="filter- filter-{%block filter_class%}{%endblock filter_class%}" src="/static/{%block filter_icon%}{%endblock filter_icon%}" alt="">
        <a href="/"><img class="logo" src="{% static 'logo_png.png' %}" alt="Logo contendo um sol e uma estrela entre nuvens" /></a>
        <a id="ham-menu"><img src="{% static 'ham-menu.svg' %}"/></a>
    </header>
    <nav class="menu-lateral">
        <a href="/" id="menu-inicio">Início</a>
        <a href="/boys" id="menu-meninos">Meninos</a>
        <a href="/girls" id="menu-meninas">Meninas</a>
        <a href="#" id="menu-pagamento">Pagamento</a>
        <a href="#" id="menu-contatos">Contato</a>
        <img class="logo" src="{% static 'logo_png.png' %}"/>
    </nav>


    {% block body-main-content %}

    {% endblock body-main-content %}

    <footer>
        <div id="whatsapp">
            <img src="{% static 'whatsapp-icon.svg' %}" alt="Logo do WhatsApp" />
            <p> (22)99253-2148</p>
        </div>

        <div id="instagram">
           <img src="{% static 'instagram-icon.svg' %}" alt="Logo do Instagram" />
           <p>@soleestrerlamodainfantil</p>
        </div>

        <div id="copyright">
           <img src="" alt="" />
           <p>&copy; Sol e Estrela, moda infantil. Todos os direitos reservados. 2022.</p>
        </div>
    </footer>
    <script src=" {% static 'menu.js' %}"></script>
</body>

<!--créditos-->
<!--<a href="https://www.flaticon.com/free-icons/girl" title="girl icons">Girl icons created by Freepik - Flaticon</a>-->
<!--<a href="https://www.flaticon.com/free-icons/avatar" title="avatar icons">Avatar icons created by Freepik - Flaticon</a>-->
</html>


