{% extends "base.html" %}

{% load static %}

{% block link-css %}
    <link rel="stylesheet" href="{% static 'css/index_style.css' %}">
{% endblock link-css%}

{% block title %} Bem vindo(a)! {% endblock title %}

<!--This shows an icon of a little Girl or a little Boy if respective filter (on lateral menu) is active-->
{%block filter_class%}{{filter_class}}{%endblock filter_class%}
{%block filter_icon%}{{filter_icon}}{%endblock filter_icon%}

{% block body-main-content %}

    <main class="vitrine">
        <div class="flex-container">
            {% for product in products %}
            <a href="/detalhes/{{product.pk}}">
                <article class="card {{product.genre}}">
                    <div class="product">
                        <img class="product-image" src="{{product.img}}" alt="Foto do produto na vitrine">
                        <div class="product-description">
                            <p>{{product.description}}</p>
                            <p>R$ {{product.sell_price}}</p>
                            <p><img class="more-details" src="{% static 'tap.png' %}"></p>
                        </div>
                    </div>
                </article>
            </a>
            {% endfor %}
        </div>

    </main>

{% endblock body-main-content %}