<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem vindo(a)!</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/reset.css">
</head>
<body>

    <header>
        <img id="logo" src="static/logo_png.png" alt="Logo contendo um sol e uma estrela entre nuvens" />
        <img id="ham-menu" src="static/ham-menu.svg"/>
    </header>

    <main>
        <section class='vitrine'>
            <div>
                <img src="static/exemplo1.jpg" alt="">
                <p>Conjunto camisa careca vermelha e shorts marinheiro</p>
                <p>R$ 49,90</p>
            </div>
        </section>
    </main>

    <footer>

    </footer>
</body>
</html>