{% extends 'base.html' %}
{% load static %}

{% block link-css %}
    <link rel="stylesheet" href="{% static 'css/index_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/payment_style.css' %}">
{% endblock link-css%}

{% block title %} Formas de Pagamento {% endblock title %}

{% block body-main-content %}
<main>
    <div class="tittle">
        <h2>Aceitamos as seguintes formas de pagamento</h2>
    </div>

    <div id="payment-methods">
        <div class="card credit-card"><p>Cartão de crédito</p></div>
        <div class="card debit-card"><p>Cartão de débito</p></div>
        <div class="card bank-slip"><p>Boleto bancário</p></div>
        <div class="card pix"><p>PIX</p></div>
        <div class="card money"><p>Dinheiro</p></div>
        <div class="card bank-transfer"><p>Transferência</p></div>
    </div>

</main>

{% endblock body-main-content %}
